.lista-table{
    border: 1px solid #000000;  
}

.lista-table tr td {
    border: 1px solid #000000;
}

.lista-table thead{
    background: #39aad4;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.lista-table thead tr td {
    border: 1px solid #000000;
}
